*{margin: 0; padding: 0;}
.table{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    RESULT;
}

.mouse{
    width: 300px;
    height: 300px;
    background-color: brown;
    border-radius: 50%;
}
.tb{
    display: inline inline-block;
    text-decoration: none;
}